input[type="date"] {
  background: transparent;
  
}

::-webkit-datetime-edit-text { color: #e05e09; padding: 0 0.3em; }

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23e05e09" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5m.002-2.25h.005v.006H12v-.006Zm-.001 4.5h.006v.006h-.006v-.005Zm-2.25.001h.005v.006H9.75v-.006Zm-2.25 0h.005v.005h-.006v-.005Zm6.75-2.247h.005v.005h-.005v-.005Zm0 2.247h.006v.006h-.006v-.006Zm2.25-2.248h.006V15H16.5v-.005Z" /></svg>');
  cursor: pointer;
}

@keyframes progressBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
  color:#e05e09
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #ef7706;
}
.loader::before {
  box-shadow: -25px 0;
  animation: l8-1 1s infinite linear;

}
.loader::after {
  transform: rotate(0deg) translateX(25px);
  animation: l8-2 1s infinite linear;

}

@keyframes l8-1 {
    100%{transform: translateX(25px)}
    
}
@keyframes l8-2 {
    100%{transform: rotate(-180deg) translateX(25px)}
}


/* in your global CSS (e.g. index.css) */
.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;             /* Firefox */
  scrollbar-color: #4A5568 #121827;   /* thumb color / track color */
}
/* LIGHT MODE WebKit */
.scrollable::-webkit-scrollbar-track {
  background: #EDF2F7;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #d45604;
  border-radius: 4px;
  border: 2px solid #EDF2F7;
}

/* DARK MODE */
.dark .scrollable {
  /* Firefox thumb / track in dark */
  scrollbar-width: thin;
  scrollbar-color: #FFA94D #1F2937;  
}

/* DARK MODE WebKit */
.dark .scrollable::-webkit-scrollbar-track {
  background: #1F2937;   /* e.g. Tailwind’s gray-800 */
}
.dark .scrollable::-webkit-scrollbar-thumb {
  background-color: #FFA94D;  /* a slightly lighter thumb for dark bg */
  border: 2px solid #1F2937;
}

/* Optional: hover effect for both modes */
.scrollable:hover::-webkit-scrollbar-thumb {
  background-color: #a03e03;   /* darker orange on hover */
}