*{
  box-sizing: border-box;
}



@import "tailwindcss";

@variant dark (&:where([data-theme="dark"] *)) {
  
}
@theme {
  --font-primary: "Smooch Sans", "serif";
  --color-primaryBlack: #121827;
  --color-secondaryBlack: #101623;
  --color-primaryWhite: #121827;
  --color-secondaryWhite: #101623;
  --color-blackOrange: #d45604; 
  --color-whiteOrange: #e05e09;
  
}



